<% provide(:title, "Edit Profile") %>

<div class="row">
  <aside class="col-sm-12 col-md-3">
      <ul class="sidebar">
        <li class="sidebar-item">
          <%= link_to "Edit Profile", edit_user_path(@user), class: "sidebar-link sidebar-active" %>
        </li>
      </ul>
    <%= link_to 'Show', @user , class: "btn btn-default w-100"%>
  </aside>
  <div class="col-sm-12 my-sm-3 my-md-0 col-md-9">
    <div class="card">
      <div class="card-header">
        Required Information
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <%= form_with(model: @user, local: true) do |form| %>
              <%= render 'fields', form: form %>

              <%= form.submit "Save changes", class: "btn btn-fiery w-100" %>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
