<% provide(:title, "Sign Up") %>

<div class="row">
  <div class="col-md-8 offset-md-2 col-lg-8 offset-lg-2">
    <div class="card">
      <div class="card-header">Registration</div>
      <div class="card-body">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
          <%= form_with(model: @user, local: true) do |form| %>
            <%= render 'fields', form: form %>

            <%= form.submit "Create my account", class: "btn btn-fox w-100" %>
            <div class="text-center">
              <%= link_to auth_at_provider_path(:provider => :vk) do %>
                <i class="fab fa-vk fa-2x"></i>
              <% end %>
              |
              <%= link_to auth_at_provider_path(:provider => :facebook) do %>
                <i class="fab fa-facebook-square fa-2x"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
