<%= provide(:title, @user.full_name) %>
<div class="row">
  <aside class="col-sm-12 col-md-3 user_profile">
    <section class="profile_photo">
      <%= image_tag gravatar_url(@user, size: 300), class: "center-block" %>
    </section>

    <section class="profile-btn-section">
      <% if current_user?(@user) %>
        <%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-default" %>
        <%= link_to "Messages", conversations_path, class: "btn btn-fox" %>
      <% else %>
        <%= link_to "Send message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post, class: "btn btn-fox" %>
      <% end %>
    </section>

    <section class="card verification_panel">
      <div class="card-header">
        Verification
      </div>
      <div class="card-body">
        <ul>
          <li>
            <div class="row">
              <div class="col-9">Email address</div>
              <div class="col-3"><i class="far fa-check-circle"></i></div>
            </div>

          </li>
          <li>
            <div class="row">
              <div class="col-9">Phone</div>
              <div class="col-3"><i class="far fa-check-circle"></i></div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </aside>
  <div class="col-sm-12 my-sm-3 my-md-0 col-md-9">
    <h2>Hello, my name is <%= @user.full_name %> </h2>
    <p>on the site since <%= @user.created_at.strftime("%B %Y") %></p>

    <h4>Listings (<%= @rooms.count %>)</h4>

    <div class="row">
      <%= render @rooms %>
    </div>

    <br>
    <h4>Reviews</h4>

    <% @rooms.each do |room| %>
      <% unless room.reviews.blank? %>
        <% room.reviews.each do |review| %>
          <div class="review bordered-review">
            <div class="review-avatar">
              <%= image_tag gravatar_url(review.user, size: 60), class: "rounded-circle" %>
              <div><%= review.user.full_name %></div>
            </div>
            <div class="review-body">
              <div class="review-header">
                <span>
                  <%= link_to room.listing_name, room_path(room) %>
                </span>

                <span class="float-right review-date">
                  <%= review.created_at.strftime("%v").downcase %>
                </span>
                <div id="star_<%= review.id %>"></div>
              </div>

              <div class="review-content"><%= review.comment %></div>
            </div>
          </div>
          <script>
            $("#star_<%= review.id %>").raty({
              path: '/assets',
              readOnly: true,
              score: <%= review.star %>
            })
          </script>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
