<div class="card">
  <div class="card-header"><%= card_title %></div>
  <div class="card-body">
    <div class="col-sm-10 m-auto">
      <%= form_for @room, html: {multipart: true} do |f| %>

        <%= render 'shared/form_error_messages', object: f.object %>

        <div class="row">
          <div class="col-sm-4 select">
            <div class="form-group">
              <%= f.label :home_type %>
              <%= f.select :home_type, [  %w(Apartment Apartment),
                                          %w(House House),
                                          %w(Bed & Breakfast, Bed & Breakfast)
                                        ], {}, {  prompt: "Select...",
                                                  class: "form-control"} %>
            </div>
          </div>

          <div class="col-sm-4 select">
            <div class="form-group">
              <%= f.label :room_type %>
              <%= f.select :room_type, [  %w(Entire Entire),
                                          %w(Private Private),
                                          %w(Shared, Shared)
                                        ],  {}, { prompt: "Select...",
                                                  class: "form-control"} %>
            </div>
          </div>

          <div class="col-sm-4 select">
            <div class="form-group">
              <%= f.label :accommodate %>
              <%= f.select :accommodate, [  ["1", 1], ["2", 2], ["3", 3],
                                            ["4", 4], ["5", 5], ["6+", 6]
                                        ], {}, { prompt: "Select...",
                                              class: "form-control"} %>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-4 select">
            <div class="form-group">
              <%= f.label :bed_room, "Bedrooms" %>
              <%= f.select :bed_room, [  ["1", 1], ["2", 2], ["3", 3],
                                            ["4+", 4]], {},
                                            { prompt: "Select...",
                                              class: "form-control" } %>
            </div>
          </div>
          <div class="col-sm-4 select">
            <div class="form-group">
              <%= f.label :bath_room, "Bathrooms" %>
              <%= f.select :bath_room, [  ["1", 1], ["2", 2], ["3", 3],
                                            ["4+", 4]], {},
                                            { prompt: "Select...",
                                              class: "form-control" } %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= f.label :listing_name %>
              <%= f.text_field :listing_name,
                                        placeholder: "Be clear and descriptive",
                                        class:       "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= f.label :summary %>
              <%= f.text_area :summary, rows: 4, placeholder: "Tell about your house",
                                              class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= f.label :address %>
              <%= f.text_field :address, placeholder: "What is your address?",
                                              class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group form-check">
              <%= f.label :is_tv, class: "form-check-label" do %>
                <%= f.check_box :is_tv, class: "form-check-input" %>
                <span>TV</span>
              <% end %>
            </div>

            <div class="form-group form-check">
              <%= f.label :is_kitchen, class: "form-check-label" do %>
                <%= f.check_box :is_kitchen, class: "form-check-input" %>
                <span>Kitchen</span>
              <% end %>
            </div>

            <div class="form-group form-check">
              <%= f.label :is_internet, class: "form-check-label" do %>
                <%= f.check_box :is_internet, class: "form-check-input" %>
                <span>Internet</span>
              <% end %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group form-check">
              <%= f.label :is_heating, class: "form-check-label" do %>
                <%= f.check_box :is_heating, class: "form-check-input" %>
                <span>Heating</span>
              <% end %>
            </div>

            <div class="form-group form-check">
              <%= f.label :is_air, class: "form-check-label" do %>
                <%= f.check_box :is_air, class: "form-check-input" %>
                <span>Air Conditioning</span>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :price, "Nightly Price" %>
              <%= f.text_field :price, placeholder: "eg. 100$", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <span class="btn btn-file btn-default">
                <i class="fas fa-cloud-upload-alt fa-lg"></i> Upload photos
                <%= file_field_tag "images[]", type: :file, multiple: true %>
              </span>

            </div>
          </div>
        </div>

        <div id="photos">
          <%= render 'photos/list' %>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group form-check">
              <%= f.label :active, class: "form-check-label" do %>
                <%= f.check_box :active, class: "form-check-input" %>
                <span>Active</span>
              <% end %>
            </div>
          </div>
        </div>

        <%= f.submit submit_name, class: "btn btn-fox" %>
      <% end %>
    </div>

  </div>
</div>

<script>
class PhotoPreview {
  constructor(options = {}) {
    this.container = options.container;
    this.input = options.input;
    this._handleFile(this.input);
    // this.files = [];
    // this._handleDestroyFile();
  }

  _createElem(elem, className = ""){
    let div = document.createElement(elem);
    div.className = className;
    return div;
  }

  _createCard(file){
    let colDiv = this._createElem("div", "col-sm-4");
    let cardDiv = this._createElem("div", "card photo-preview");
    let cardHeaderDiv = this._createElem("div", "card-header");
    let cardBodyDiv = this._createElem("div", "card-body");
    colDiv.appendChild(cardDiv);
    cardDiv.appendChild(cardHeaderDiv);
    cardDiv.appendChild(cardBodyDiv);
    // let i = this._createElem("i", "fas fa-times fa-lg float-right");
    // i.setAttribute('data-destroy-photo', '');
    // cardBodyDiv.appendChild(i);

    let img = this._createElem("img", "card-img-top");
    img.src = file.result;
    cardHeaderDiv.appendChild(img);

    return colDiv;
  }

  _handleFile(input){

    input.oninput = (event) => {
      let files = event.target.files;

      for (var i = 0; i < files.length; i++) {
        let file = files[i];

        if (!file.type.match("image.*")) {
          continue;
        };

        var reader = new FileReader();

        reader.onload = (event) => {
          let card = this._createCard(event.target);
          this.container.appendChild(card);
        };

        reader.onerror = function(event) {
          console.error(
            `The file ${event.target.name} can't be readed. Error code: ${event.target.error.code}`
          );
        };
        reader.readAsDataURL(file);
      }
    }
  }

  // _handleDestroyFile(){
  //   this.container.onclick = (event) => {
  //     if (!event.target.hasAttribute('data-destroy-photo')){
  //       return;
  //     }
  //     let colDiv = event.target.closest('.col-sm-4');
  //     colDiv.parentElement.removeChild(colDiv);
  //
  //   }
  // }
};

$(
  function preparePreview(){
    let input = document.querySelector('.btn-file input');
    let container = document.getElementById('photo-preview');
    if(!input || !container ){
      return false;
    }
    new PhotoPreview({container: container, input: input});
  }
)
</script>
