<%= provide(:title, "Your rooms") %>
<div class="row">
  <div class="col-sm-3">
    <ul class="sidebar">
      <li class="sidebar-item">
        <%= link_to "Your Listing", rooms_path, class: "sidebar-link sidebar-active" %>
      </li>
      <li class="sidebar-item">
        <%= link_to "Your Reservaions",your_reservations_path, class: "sidebar-link" %>
      </li>
      <li class="sidebar-item">
        <%= link_to "Your trips", your_trips_path, class: "sidebar-link" %>
      </li>
    </ul>
  </div>
  <div class="col-sm-9">
    <div class="card">
      <div class="card-header">Listings</div>
      <div class="card-body">
        <% @rooms.each do |room| %>
          <div class="row">
            <div class="col-sm-2">
              <%= link_to room_path(room) do %>
                <%= image_tag room.photos[0].image.url(:thumb) unless room.photos.empty? %>
              <% end %>
            </div>
            <div class="col-sm-7">
              <h4><%= link_to room.listing_name, room_path(room), class:"item-link" %></h4>
            </div>
            <div class="col-sm-3">
              <%= link_to "Update", edit_room_path(room), class: "btn btn-fox" %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
