<%= provide(:title, @room.listing_name) %>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12 justify-content-center text-center">
        <%= image_tag @photos.first.image.url(), class: "img-fluid w-100" unless @photos.blank? %>
      </div>
    </div>

    <br>

    <div class="row my-3">
      <div class="col-sm-12 col-md-8">
        <div class="row">
          <div class="col-sm-12 col-md-3 text-center">
            <%= link_to user_path(@room.user) do %>
              <%= image_tag gravatar_url(@room.user, size:100), class: "rounded-circle img-fluid" %>
              <p class="h4 text-dark">
                <%= @room.user.full_name %>
              </p>
            <% end %>
          </div>

          <div class="col-sm-12 col-md-9 mb-sm-3 mb-md-0">
            <h4><%= @room.listing_name %></h4>
            <p><%= @room.address %></p>

            <div class="row text-center row-space-1">
              <div class="col-sm-3"><i class="fas fa-home fa-2x"></i></div>
              <div class="col-sm-3"><i class="fas fa-users fa-2x"></i></div>
              <div class="col-sm-3"><i class="fas fa-bed fa-2x"></i></div>
              <div class="col-sm-3"><i class="fas fa-ship fa-2x"></i></div>
            </div>

            <div class="row text-center">
              <div class="col-sm-3">
                <%= @room.home_type %>
              </div>
              <div class="col-sm-3">
                <%= pluralize(@room.accommodate, "Guest") %>
              </div>
              <div class="col-sm-3">
                <%= pluralize(@room.bed_room, "Bedroom") %>
              </div>
              <div class="col-sm-3">
                <%= pluralize(@room.bath_room, "Bathroom") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-10 offset-sm-1 col-md-4 offset-md-0">
        <div class="room-price">
          <span class="text-left">$<%= @room.price %></span>
          <span class="text-right">Per Night</span>
        </div>
        <div>
          <% if logged_in? %>
            <%= render 'reservations/form' unless current_user?(@room.user)%>
          <% else %>
            <h5>Sign in to book this room.</h5>
          <% end %>
        </div>
      </div>
    </div>

    <hr>

    <!-- About this Listing -->
    <div class="row my-3">
      <div class="col-sm-12">
        <h2>About this Listing</h2>
        <p><%= @room.summary %></p>
      </div>
    </div>

    <hr>
    <br>
    <!-- Amentities -->
    <div class="row my-3">
      <div class="col-sm-2">
        <p>Amentities</p>
      </div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-6">
            <ul class="amentities">
              <li class="<%= 'text-line-through' unless @room.is_tv %>">
                <span class="icon">
                  <i class="fas fa-tv fa-1x2"></i>
                </span>
                <span>TV</span>
              </li>
              <li class="<%= 'text-line-through' unless @room.is_kitchen %>">
                <span class="icon">
                  <i class="fas fa-utensils fa-1x2 mr-2"></i>
                </span>
                <span>Kitchen</span>
              </li>
              <li class="<%= 'text-line-through' unless @room.is_internet %>">
                <span class="icon"><i class="fas fa-wifi fa-1x2"></i></span>
                <span>Internet</span>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="amenities">
              <li class="<%= 'text-line-through' unless @room.is_heating %>"><i class='icon i-heating'></i>Heating</li>
              <li class="<%= 'text-line-through' unless @room.is_air %>"><i class="icon i-air-condition"></i>Air Conditioning</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <br>
    <!-- Carousel -->
    <div class="row my-3">
      <div class="col-md-10 offset-md-1 d-flex justify-content-center">
        <% unless @photos.blank? %>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @photos.each_with_index do |photo, i| %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>" class="<%= 'active' if i == 0 %>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @photos.each do |photo| %>
              <div class="carousel-item <%= 'active' if photo.id == @photos.first.id %>">
                <%= image_tag photo.image.url(), class: "d-block w-100" %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <% else %>
          <% if current_user?(@room.user) %>
            <%= link_to "Add photos", edit_room_path(@room), class: "btn btn-default" %>
          <% else %>
            <h2 class="mb-5">The owner of the room has not added any photos yet</h2>
          <% end %>
        <% end %>
      </div>
    </div>

    <hr>

    <!-- Reviews -->
    <div class="row my-3">
      <div class="col-sm-12">
        <div id="reviews-header">
          <%= render "reviews/header" %>
        </div>
        <div class="offset-sm-1 col-sm-10 offset-md-2 col-md-8" id="reviews">
          <% if @reviews.blank? %>
            <div class="text-center">
              <h4>There is no review yet</h4>
            </div>
          <% else %>
            <%= render @reviews %>
          <% end %>
        </div>
      </div>
    </div>

    <hr>
    <br>

    <!-- Google Map -->
    <div class="row my-3">
      <div class="col-md-12">
        <div id="map">

          <script>
            // Initialize and add the map
            function initMap() {
              // The location of Uluru
              var uluru = {lat: <%= @room.latitude %>, lng: <%= @room.longitude %>};
              // The map, centered at Uluru
              var map = new google.maps.Map(
                  document.getElementById('map'), {zoom: 14, center: uluru});
              // The marker, positioned at Uluru
              var marker = new google.maps.Marker(
                      {position: uluru, map: map, draggable: true,
                                      animation: google.maps.Animation.DROP,});
            }
          </script>
          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiE-uKbRKuRyYFA0utax-HXfEdvnblG1U&callback=initMap">
          </script>
        </div>
      </div>
    </div>

    <hr>
    <br>

    <!-- Near by -->
    <h3>Near by</h3>
    <div class="row my-3">

      <% unless @room.nearbys(10).blank? %>
        <% for room in @room.nearbys(10) %>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 photo-card">
            <div class="photo-container">
              <div class="photo-header">
                <% unless room.photos.blank? %>
                  <%= image_tag room.photos.first.image.url(:medium) %>
                <% else %>
                  <div class="no-img">No image</div>
                <% end %>
              </div>
              <div class="photo-body">
                <div class="photo-title">
                  <%= link_to room.listing_name, room %>
                  <div>(<%= room.distance.round(2) %> miles away)</div>
                </div>
                <p class="lead"><%= room.price %>$ per night</p>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="col-sm-12">
          <h5>there are no nearby places</h5>
        </div>
      <% end %>

    </div>
  </div>
</div>
