<% provide(:title, "Log in") %>
<h1 class='text-center'>Log in</h1>

<div class="row">
  <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
    <%= form_for(:user_session, url: login_path, method: :post) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password do %>
          Password
          <%= link_to "(forgot password)", new_password_reset_path %>
        <% end %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
          <% end %>
        </div>
      </div>
      <%= submit_tag "Log in", class: "btn btn-fox offset-md-4" %>
    <% end %>
    <div class="text-center">
      <%= link_to auth_at_provider_path(:provider => :vk) do %>
        <i class="fab fa-vk fa-2x"></i>
      <% end %>
      |
      <%= link_to auth_at_provider_path(:provider => :facebook) do %>
        <i class="fab fa-facebook-square fa-2x"></i>
      <% end %>
    </div>
    <hr class="form_divider">
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
